/* Utiliy Class */
.borrder {
  border: 2px solid red;
}
.flex {
  display: flex;
}

.grid {
  display: grid;
}

.invert {
  filter: invert(1);
}


.rounded {
  border-radius: 9px;
}

.primary-button {
  background-color: white;
  color: black;
  padding: 8px 13px;
  border-radius: 22px;
  width: fit-content;
  cursor: pointer;
  border: none;
  outline: none;
  transition: all 0.4s ease-out;
}

.secondary-button {
  background-color: var(--color);
  color: gray;
  padding: 10px 13px;
  border-radius: 22px;
  width: fit-content;
  cursor: pointer;
  border: none;
  outline: none;
  transition: all 0.4s ease-out;
}

.visibility {
  opacity: 1;
}

.hide {
  opacity: 0;
}

/* Custom Scrollbar for Webkit Browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
  height: 8px; /* Height of the scrollbar (for horizontal scrollbars) */
}

::-webkit-scrollbar-track {
  background: #2b2b2b; /* Background color of the scrollbar track */
  border-radius: 10px; /* Rounding of the track corners */
}

::-webkit-scrollbar-thumb {
  background: #4a4a4a; /* Color of the scrollbar thumb */
  border-radius: 10px; /* Rounding of the thumb corners */
  border: 2px solid #2b2b2b; /* Space around the thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: #6b6b6b; /* Color of the scrollbar thumb on hover */
}

/* Custom Scrollbar for Firefox */
html {
  scrollbar-width: thin; /* Scrollbar width: auto, thin, none */
  scrollbar-color: #4a4a4a #2b2b2b; /* Thumb color and track color */
}
